body {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100vw;
height: 100vw;
}

.btn {
    height: 75px;
    width: 75px;
    border-radius: 5px;
    margin: 3px;
    font-size: 31px;
}

#first-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
}

#screen {
    border: 1px solid;
    border-color: black;
    height: 50px;
    width: 225px;
    margin: 12px;
}

.btn.number {
    
}